<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is GAMES </h1>
    <hr>
    <div data-th-if="${games}">
        <ul>
            <li data-th-each="game : ${games}">
                <a data-th-href="@{'/games/' + ${game.gid}}">
                    <span data-th-text="${game.name}"></span>
                </a>
            </li>
        </ul>
    </div>
    <!-- <span data-th-text="${games}"></span> -->
</body>
</html>